@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    font-family: "Inter", sans-serif;
}

html {
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(
        to left bottom,
        #051937,
        #411b40,
        #6b2032,
        #7a3d15,
        #676300
    );
    background-size: cover;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.screen {
    width: 400px;
    height: 200px;
    background-color: black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-bottom: 10px;
}

.subtext {
    color: white;
    font-size: 36px;
    text-align: end;
    margin-right: 20px;
    margin-top: 20px;
}

.text {
    color: white;
    font-size: 48px;
    text-align: end;
    margin-right: 20px;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: black;
    padding-bottom: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

button {
    font-size: 30px;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-width: 1px;
    border-radius: 50%;
    border-color: rgb(176, 176, 176);
    background-color: #313131;
    color: white;
}

.del {
    width: 170px;
    border-radius: 50px;
    background-color: #9f9f9f;
    color: black;
}

.modulo {
    background-color: #9f9f9f;
    color: black;
}

.divide,
.addition,
.subtract,
.add,
.equals {
    background-color: orange;
}

.zero {
    width: 170px;
    border-radius: 50px;
    justify-content: left;
}

.footer {
    justify-content: center;
    text-align: center;
}
